.App {
  text-align: center;
  padding: 20px;
}

form input {
  padding: 10px;
  width: 400px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
}

h2 {
  margin-top: 20px;
}

.error {
  color: red;
  margin-top: 20px;
}
